@font-face {
  font-family: "SF Pro Display";
  src: url("./SFProDisplayRegular.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./SFProDisplayBold.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./SFProDisplayMedium.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./SFProDisplayLightItalic.OTF") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./SFProDisplayBlackItalic.OTF") format("opentype");
  font-weight: 900;
  font-style: italic;
}
