.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: white;
}

.login-card {
  width: 90%;
  max-width: 380px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: #1b294c;
  opacity: 0;
  animation: fadeSlideIn 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

.pt-10 {
  padding-top: 4rem !important;
}

.pb-10 {
  padding-bottom: 1.5rem !important;
}

input {
  color: white !important;
}

/* Button design */
.btn-primary {
  background-color: #1a2c44;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0d1f39 !important;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input::-ms-reveal,
input::-ms-clear,
input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button {
  display: none !important;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-reveal-button {
  display: none !important;
}

.forgot-password-text {
  color: #0b5ed7;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 10px;
}

.forgot-password-text:hover {
  color: #0d6efd;
}
