.employee-navbar {
  margin-top: 40px;
  margin-right: 30px;
  background: transparent;
  position: relative;
  z-index: 10;
  justify-content: flex-end;
  opacity: 0;
  animation: fadeSlideIn 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.nav-item {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

/* Hover underline effect */
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #cfe8ff;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item.active::after {
  width: 100%;
}

/* Logout button stays the same */
.logout-btn {
  border: 1.5px solid rgba(255, 255, 255, 0.8);
  background: transparent;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 18px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 400px) {
  .employee-navbar {
    margin-top: 120px;
    margin-bottom: 50px;
    justify-content: flex-start;
  }

  .nav-links {
    gap: 2rem;
  }
}
